<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aki, la tienda de la esquina donde te encuentras">
    <meta name="author" content="SICJ, CHG, AELG, JJSE">
    <link href="styles//bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="styles/home.css" rel="stylesheet">
    <link rel="icon" href="images/logoblanco.png" type="image/png">
    <script src="tools/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="tools/home.js"></script>
    <title>Aki</title>
</head>

<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Ayuda</h4>
                        <p class="text-muted">
                            Inicia sesión para acceder a tu carrito de compras o comprar rápido los productos disponibles en las tiendas más cercanas a ti.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Acerca de</h4>
                        <p class="text-muted">
                            Consulta nuestros <a href="">Términos y Condiciones de Uso</a> y nuestro <a href="">Aviso de Privacidad</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="" class="navbar-brand d-flex align-items-center">
                    <img src="images/logoblanco.png" alt="" class="me-2" width="48" height="48">
                    <strong>Aki</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <main>
        <section id="sessionfalse" class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <img class="mb-4" src="images/logoblanco.png" alt="" width="72" height="72" style="filter: invert(1);">
                    <h1 class="fw-light">Productos</h1>
                    <p class="lead text-muted">Encuentra los productos que necesitas en la tienda más cercana a tu ubicación.
                    </p>
                    <p>
                        <a href="signin.html" class="btn btn-primary my-2">Inicia sesión</a>
                        <a href="signup.html" class="btn btn-secondary my-2">Regístrate</a>
                    </p>
                </div>
            </div>
        </section>
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg sticky-top" style="display: none;" id="u_nav">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <strong>Bienvenido</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" id="displayname" aria-current="page" href="#">Nombre del cliente</a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
                                Ver Carrito
                            </button>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mi cuenta
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Ver detalles</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" role="button" id="endsess" href="#">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="modal fade" tabindex="-1" id="modal" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Tu carrito de compras:</h5>
                    </div>
                    <div class="modal-body" id="cart">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="album py-5 bg-light ">
            <div class="container ">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 " id="catalog">
                </div>
                <div class="d-flex justify-content-center ">
                    <div id="loadAnim" class="spinner-border " style="width: 3rem; height: 3rem; " role="status ">
                        <span class="visually-hidden ">Loading...</span>
                    </div>
                </div>
                <br/>
                <div class="d-flex justify-content-center ">
                    <button class="btn btn-secondary my-2 " id="more">Ver más</button>
                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted py-5 ">
        <div class="container ">
            <p class="float-end mb-1 ">
                <a href="# ">Volver al inicio</a>
            </p>
            <p class="mb-1 ">
                Consulta nuestros <a href=" " class="text-black ">Términos y Condiciones de Uso</a> y nuestro <a href=" " class="text-black ">Aviso de Privacidad</a>.
            </p>
        </div>
    </footer>
</body>

</html>