<!doctype html>
<html lang="es" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aki, la tienda de la esquina donde te encuentras">
    <meta name="author" content="SICJ, CHG, AELG, JJSE">
    <link href="styles//bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="styles/cover.css" rel="stylesheet">
    <script src="tools/cover.js"></script>
    <link rel = "icon" href="images/logoblanco.png" type="image/png">
    <title>Aki</title>
</head>

<body class="d-flex h-100 text-center text-white">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Aki</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" id = "home">Inicio</a>
                    <a class="nav-link" id = "stores">Tiendas</a>
                    <a class="nav-link" id = "delivery">Repartidores</a>
                </nav>
            </div>
        </header>

        <main id="homePage" class="px-3">
            <h1>Encuentra lo que necesitabas para tu comida, reunión o antojo.</h1>
            <p class="lead">
                Compra los productos de tu tienda de abarrotes más cercana y
                recógelos en la tienda o recíbelos en tu domicilio con uno de nuestros repartidores.
            </p>
            <p class="lead">
                <a href="home.html" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Ver Catálogo</a>
            </p>
        </main>

        <main id="storesPage" class="px-3">
            <h1>Tiendas</h1>
            <p class="lead">
                Ofrece tus productos a más clientes cerca de ti.
                Lleva el control de tu inventario fácil y sencillo.
                Obten datos de los productos que más se venden cerca de tu tienda.
            </p>
            <p class="lead">
                <a href="storesSignup.html" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Regístrate</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="signin.html" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Inicia sesión</a>
            </p>
        </main>

        <main id="deliveryPage" class="px-3">
            <h1>Repartidores</h1>
            <p class="lead">
                Recibe un ingreso extra repartiendo productos cerca de donde estés.
                Apoya directamente a una tienda si ya trabajas en ella.
            </p>
            <p class="lead">
                <a href="deliverySignup.html" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Regístrate</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="signin.html" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Inicia Sesión</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>
                Consulta nuestros <a href="" class="text-white">Términos y Condiciones de Uso</a>
                y nuestro <a href="" class="text-white">Aviso de Privacidad</a>.
            </p>
        </footer>
    </div>

    </body>

</html>