<!doctype html>
<html lang="es" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aki, la tienda de la esquina donde te encuentras">
    <meta name="author" content="SICJ, CHG, AELG, JJSE">
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/cover.css" rel="stylesheet">
    <title>Aki</title>
</head>

<body class="d-flex h-100 text-center text-white">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Aki</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    <a class="nav-link" href="#">Repartidores</a>
                    <a class="nav-link" href="#">Tiendas</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>Aki</h1>
            <p class="lead">Compra los productos de tu tienda de abarrotes más cercana,
                puesdes recogerlos en la tienda o a domicilio con uno de nuestros repartidores.
            </p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Iniciar sesión</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Consulta nuestros <a href="https://getbootstrap.com/" class="text-white">Términos y Condiciones de Uso</a> y nuestro <a
                    href="https://twitter.com/mdo" class="text-white">Aviso de Privacidad</a>.</p>
        </footer>
    </div>

    </body>

</html>