<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Aki, la tienda de la esquina donde te encuentras">
        <meta name="author" content="SICJ, CHG, AELG, JJSE">
        <link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="styles/error.css" rel="stylesheet">
        <script src="tools/bootstrap/bootstrap.bundle.min.js"></script>
        <link rel = "icon" href="images/logoblanco.png" type="image/png">
        <title>No Encontrado (404)</title>
    </head>
    <body>
        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <img class="mb-4" src="images/logoblanco.png" alt="" width="72" height="72" style="filter: invert(1);">
                        <span class="display-1 d-block">404</span><br/>
                        <div class="mb-4 lead">Lo sentimos, el elemento solicitado no ha sido encontrado, tal vez se haya modificado o eliminado.</div>
                        <a href="index.html" class="btn btn-link">Regresar a la página principal</a>
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>
